.service {
  width: 100%;
  padding-top: 20px;
  background: #fff;
  height: 66px;
  font-family: "微软雅黑";
  box-sizing: border-box;
}
.service .serList {
  width: 420px;
  margin: 0 auto;
  overflow: hidden;
}
.service .serList .serItem {
  float: left;
  width: 33%;
}
.service .serList .serItem img {
  vertical-align: middle;
  margin-right: 10px;
}
